<div style="padding: 5px; border: 1px solid black">
    <button (click)="remove.emit(step)">Remove step</button>
    <br />
    <label>Id</label>
    <input [(ngModel)]="step.id">
    <br />
    <label>Name</label>
    <input [(ngModel)]="step.name">
    <br />
    <label>Uses</label>
    <input [(ngModel)]="step.uses">
    <br />
    <label>Run</label>
    <input [(ngModel)]="step.run">
    <br />
    <label>Working Directory</label>
    <input [(ngModel)]="step.workingDirectory">
    <br />
    <label>Shell</label>
    <input [(ngModel)]="step.shell">
    <br />
    <label>If</label>
    <input [(ngModel)]="step.if">
    <br />
    <label>Continue on error</label>
    <input type="checkbox" [(ngModel)]="step.continueOnError">
    <br />
    <label>Timeout Minutes</label>
    <input type="number" [(ngModel)]="step.timeoutMinutes">
    <br />
    <h4>With</h4>
    <app-editor-job-step-with [with]="step.with"></app-editor-job-step-with>
    <h4>Environment Variables</h4>
    <app-editor-keyvaluepairs [values]="step.env" (add)="addEnvironmentVariable()" (remove)="removeEnvironmentVariable($event)"></app-editor-keyvaluepairs>
</div>
