<button class="btn btn-warning" (click)="remove()">Remove event</button>
<br />
<div class="form-group">
    <label>Event</label>
    <select class="custom-select" [(ngModel)]="event.type" name="type">
        <option *ngFor="let t of types" [ngValue]="t">{{t.displayName}}</option>
    </select>
</div>
<div class="form-group" *ngIf="event.type?.types?.length > 0">
    <label for="types">Types</label>
    <select class="custom-select" id="types" name="types" multiple [(ngModel)]="event.type.selectedTypes" size="8">
        <option *ngFor="let c of event.type?.types" [ngValue]="c">{{c}}</option>
    </select>
</div>

<div *ngIf="event.type?.internalName == 'push' || event.type?.internalName == 'pull_request'">
    <div class="form-group">
        <label for="branches">Branches</label>
        <input id="branches" class="form-control" name="branches" [(ngModel)]="branches">
    </div>
    <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="branchesExcluded" [(ngModel)]="branchesExcluded">
        <label for="branchesExcluded">Exclude</label>
    </div>
    <div class="form-group">
        
    </div>
    <div class="form-group">
        <label>Tags</label>
        <input class="form-control" name="tags" [(ngModel)]="tags">    
    </div>
    <div class="form-group">
        
    </div>
    <div class="form-group">
        
    </div>
    <div class="form-group">
        
    </div>
    
    <br />
    
    <label>Exclude</label>
    <input class="form-control" type="checkbox" [(ngModel)]="tagsExcluded">
    <br />
    <label>Paths</label>
    <input class="form-control" name="paths" [(ngModel)]="event.paths">
    <br />
    <label>Ignored Paths</label>
    <input class="form-control" name="ignoredPaths" [(ngModel)]="event.pathsIgnore">
    <br />
</div>

<div *ngIf="event.type?.internalName == 'schedule'">
    <label>Cron</label>
    <input name="cron" [(ngModel)]="event.cron">
</div>